# dot files
.bundle
*.rbc
*.sassc
**.orig
.powrc
.sass-cache
.zeus.sock
.DS_store
.rspec

# root files
capybara-*.html
custom_plan.rb
dump.rdb
pickle-email-*.html
rerun.txt
zeus.json
Guardfile

# directories
/config/*.yml
/db/*.sqlite3
/log/*.log
/tmp
/coverage
/config/deploy.rb
/config/database.yml
/config/initializers/01_mygov_forms.rb
/public/assets/*