.container{role: 'main'}
  %h1
    Your form has been submitted!
  %p.lead
    Thanks for submitting your form.  From here, we'll direct you to any follow-up actions you need to take, such as mailing in any documentation, visiting your post office or other things.
  - if @submission.form.pdf
    %p.lead
      = link_to 'Download as PDF', form_submission_path(@form, @submission, :format => :pdf)
  %p.lead
    We will also provide the user the option to save this form to their MyGov account.  If they do this, they will then OAuth to MyGov and use the MyGov API to save the ID of the submitted form to their MyGov account.  MyGov will store the id for the form submission in a table associated with the authorizing user.  Later, MyGov can use the Forms.gov API to retrieve the data that has been filled in here, and allow the user to do things like re-fill the form, or download another PDF copy.